<div class="sim-info" *ngIf="data">
  <mat-tab-group>
    <mat-tab [label]="'Sim ' + ( i + 1 )" *ngFor="let sim of data; let i = index">
      <div class="row mt-20 align-bottom ">
        <div class="col">
          <label class="data-label">{{sim.mobile_number}}</label>
          <label class="text-label">SIM Number</label>
        </div>

        <div class="col">
          <label class="data-label">{{sim.imei}}</label>
          <label class="text-label">SIM IMEI Number</label>
        </div>

        <div class="col">
          <label class="data-label">{{sim.owner}}</label>
          <label class="text-label">SIM Owner</label>
        </div>
      </div>

      <div class="row mt-20 align-bottom ">
        <div class="col">
          <label class="data-label">{{sim.make}}</label>
          <label class="text-label">Make</label>
        </div>

        <div class="col">
          <label class="data-label">{{sim.sim_number}}</label>
          <label class="text-label">SIM Number</label>
        </div>

        <div class="col">
          <label class="data-label">{{sim.internal_code}}</label>
          <label class="text-label">Internal Code</label>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
